/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
	--bg-color: #0C0E10;
	--text-color: #fff;
	--main-color: #FF550F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: var(--bg-color);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--bg-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: var(--text-color);
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #101010;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.list .nav-link:hover {
  background-color: var(--main-color);
}

.activate{
  color: var(--main-color);
  border-radius: 8px;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: var(--text-color);
}
.nav-link .link {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: var(--text-color);
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

main {
  margin-top: 70px;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}

h1{
  display: flex;
  justify-content: center;
  list-style: none;
  bottom: 50%;
  height: 100%;
  align-items: center;
  text-align: center;
  color:#fff;
  z-index: 10000000000000000000;
}

/*---Parte do Jornal---*/
.Back-Jornal {
  margin-top: ;
  background: var(--main-color);
  margin: 0 auto;
  height: 350px;
  width: 400px;
  border-radius: 30px;
  box-shadow: 10px #0C0E10;
}

.Postar-Video {
  margin: 0 auto;
  text-align: center;
}

.INPUT {
  justify-items: end;
}

.forms {
  margin: 0 auto;
}

input {
  background: #FF550F;
  border: solid 3px var(--bg-color);
  border-radius: 15px;
}

.LinhaForms {
  height: 16px;
  width: 400px;
  margin: 0 auto;
}

.send {
  height: 25px;
  width: 70px;
}