*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}
:root{
	--bg-color: #0C0E10;
	--text-color: #fff;
	--main-color: #FF550F;
}
body{
	min-height: 100vh;
	background: var(--bg-color);
	color: var(--text-color);
	/* overflow-x:hidden; */
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 100000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 10px 12%;
	transition: all .50s ease;
  background-color: #10101040;
    backdrop-filter: blur(5px);
}
main {
	padding-top: 128px;
}
.logo{
	display: flex;
	align-items: center;
}
.logo i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 3px;
}
.logo span{
	color: var(--main-color);
	font-size: 1.7rem;
	font-weight: 600;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 20px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.navbar a.active{
	color: var(--main-color);
}
.main{
	display: flex;
	align-items: center;
}
.main a{
	margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}
.user{
	display: flex;
	align-items: center;
}
.user i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 7px;
}
.main a:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}


@media (max-width: 1280px){
	header{
		padding: 14px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}
}

@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 270px;
		height: 29vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
    z-index: 1000px;
	}
	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--text-color);
		transform: translateY(5px);
	}
	.navbar a.active{
		color: var(--text-color);
	}
	.navbar.open{
		right: 2%;
	}
}




#CHAPA {
    flex: none;
 
}


.card{
    position: relative;
    border-radius: 50px;
	
  }
  @media (max-width: 680px){
	.title {
		width: 400px;
		height: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
		color: var(--text-color);
		text-align: center;
		align-items: center;
		background-color: #FF550F;
		border: solid none;
		box-shadow: 0 0 30px 0 black;
		border-radius: 20px;
		display: flex;
		justify-content: center;

	}

  .linhas{
	height:auto;
	width: 100vh;
	display: flex;
	flex-direction: row;
	margin: 0% auto;
	align-items: center;
	margin-left: 2.5%;
  }

  .container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 15px;
  }

}
	::-webkit-scrollbar {
		width: 15px;
	}
	::-webkit-scrollbar-track {
	background-color:var(--bg-color);
	border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
	border: solid 2.5px var(--bg-color);
	background: var(--main-color);
	border-radius: 30px;
  }

  .face{
    width:300px;
    height: 200px;
    transition:.4s; 
  }
  .face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 20px;
  }
  .card:hover .face.face1{
    transform: translateY(0);
background-color: var(--main-color);

  }
  .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
  }
  .card:hover .face.face1 .content{
    opacity: 1;
  }
  .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;  
  }
  .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
  }
  .face.face1 .content a{
     transition: .5s;
  }
  .face.face2{
    position: relative;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
    border-radius: 20px;
  }
  .card:hover .face.face2{
    transform: translateY(0);
  }
  p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:whitesmoke;
  }
  .ReadMore{
    text-decoration:none;
    color: var(--main-color);
    box-sizing: border-box;
    outline : 1px dashed var(--main-color);
    padding: 9px;
    margin: 10px 0 0;
    display: inline-block;
  }
  .ReadMore:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }

  .linhas{
	height:auto;
	width: 100vh;
	display: flex;
	flex-direction: row;
	margin: 0% auto;
	align-items: center;
	margin-left: 2.5%;
	justify-content: space-around;
	flex-wrap: wrap;
  }

  .container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	justify-content: space-around;
	gap: 1rem;
  }

  .title {
	width: 100%;
	max-width: 400px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
	color: var(--text-color);
	text-align: center;
	align-items: center;
	background-color: #FF550F;
	border: solid none;
	box-shadow: 0 0 30px 0 black;
	border-radius: 0 0 20px 20px;
	display: flex;
	justify-content: center;

}

.card {
	justify-content: space-evenly;
}